name: Compile Clash MRS
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  compile:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download Mihomo Binary
        run: |
          URL="https://github.com/MetaCubeX/mihomo/releases/download/v1.18.8/mihomo-linux-amd64-v1.18.8.gz"
          curl -L -o mihomo.gz "$URL"
          gunzip mihomo.gz
          chmod +x mihomo

      - name: Compile YAML to MRS
        run: |
          shopt -s nullglob
          for file in *.yaml; do
            filename="${file%.*}"
            echo "Processing $file..."
            # 强行给它 5 秒编译时间，然后强制杀掉，无视其退出码
            timeout 5s ./mihomo rule-set compile "$file" "${filename}.mrs" || true
            
            # 只有文件没生成才报错
            if [ ! -f "${filename}.mrs" ]; then
              echo "Failed to create ${filename}.mrs"
              exit 1
            fi
            echo "File created successfully."
          done

      - name: Push Changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add *.mrs
          # 检查是否有改动，防止 commit 失败
          if git diff --staged --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Auto-compile MRS"
            git push
          fi
