name: Compile Clash MRS
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  compile:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download Mihomo Binary
        run: |
          URL="https://github.com/MetaCubeX/mihomo/releases/download/v1.18.8/mihomo-linux-amd64-v1.18.8.gz"
          curl -L -o mihomo.gz "$URL"
          gunzip mihomo.gz
          chmod +x mihomo

      - name: Compile YAML to MRS
        run: |
          shopt -s nullglob
          for file in *.yaml; do
            filename="${file%.*}"
            echo "Processing $file..."
            timeout 5s ./mihomo rule-set compile "$file" "${filename}.mrs" || true
            if [ -f "${filename}.mrs" ]; then
              echo "Success: ${filename}.mrs created."
            else
              exit 1
            fi
          done

      - name: Push Changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add *.mrs
          git diff --staged --quiet || (git commit -m "Auto-compile MRS" && git push)
